.Add-Content {
    display: flex;
    flex-direction: column;
    outline: none;
}

.Title-Input {
    width: 100%;
    max-width: 100%;
    margin-bottom: 15px;
    outline: none;
    overflow-wrap: break-word;
    font-size: 20px;
    white-space: pre-wrap;
}

.Title-Input:empty::before {
    content: attr(placeholder);
    color: #555;
}

.Note-Input {
    width: 100%;
    max-width: 100%;
    overflow-wrap: break-word;
    outline: none;
    white-space: pre-wrap;
}

.Note-Input:empty::before {
    content: attr(placeholder);
    color: #555;
}
