.Notes-Wrapper {
    max-width: 85vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Notes-Container {
    margin-top: 40px;
    max-width: 85vw;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(175px, 250px));
    grid-template-rows: masonry;
}

.Card-Text {
    width: 100%;
    overflow-wrap: break-word;
    margin-bottom: 10px;
}

.Title {
    font-size: 20px;
}

@media only screen and (max-width: 615px) {
    .Notes-Container {
        margin-top: 40px;
        max-width: 85vw;
        display: grid;
        gap: 10px 20px;
        grid-template-columns: repeat(auto-fill, minmax(175px, 85vw));
        grid-template-rows: masonry;
    }
}
