.Notes-Wrapper {
    max-width: 85vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Notes-Container {
    /* margin-top: 40px; */
    max-width: 85vw;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(175px, 250px));
    grid-template-rows: masonry;
}

.Card-Text {
    width: 100%;
    margin-bottom: 10px;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    outline: none;
}

.Home {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 17;
    -webkit-box-orient: vertical;
}

.Title {
    font-size: 20px;
    -webkit-line-clamp: 5;
}

@media only screen and (max-width: 615px) {
    .Notes-Container {
        max-width: 85vw;
        display: grid;
        gap: 10px 20px;
        grid-template-columns: repeat(auto-fill, minmax(175px, 85vw));
        grid-template-rows: masonry;
    }
}
